﻿.parentContainer {
    background-color: #F8F8F8;
    padding: 5;
}

.SectionHeadingStyle {
    color: #D00000;
    font-size: 18;
    font-weight: 600;
}

.validationError {
    color: #D00000;
    font-size: 12;
}

.OfferHeading {
    color: #D00000;
    font-size: 18;
    font-weight: 600;
}

.OfferSubHeading {
    color: #303030;
    font-size: 12;
}

.DimText {
    color: #888888;
    font-size: 10;
}

.MediumText {
    font-size: 12;
}

.messagestamp {
    color: #cfcfcf;
    word-wrap: break-word;
}

button {
    background-color: #FFFFFF;
    color: #505050;
    text-transform: uppercase;
    border-radius: 10;
    border-width: 1;
    border-color: #505050;
    padding: 2;
    height: 35;
}

checkbox {
    color: #D00000;
}

.primaryButton {
    background-color: #D00000;
    color: #FFFFFF;
    border-color: #D00000;
    font-style: bold;
}

.popupContainer {
    margin: 30, 50, 30, 30;
    padding: 20;
    vertical-align: top;
}

.flatButton {
    border-width: 0;
    border-color: transparent;
    background-color: transparent;
    padding: 2;
    margin: 3;
}

.primaryColorText {
    color: #D00000;
}

.secondaryColorText {
    color: #00D0D0;
}

.publisherName {
    font-weight: bold;
    font-size: 12;
}

.gylypLabel {
    font-weight: bold;
    font-size: 14;
    width: 14;
    height: 14;
}

.gylypLabelBig {
    height: 22;
    width: 22;
    font-size: 20;
    font-weight: bold;
}

.gylypButton {
    font-weight: bold;
    font-size: 14;
    width: 25;
    height: 25;
}

.gylypButtonMedium {
    font-weight: bold;
    font-size: 18;
    width: 30;
    height: 30;
}

.whiteText {
    color: #fff;
}

.highlighted-tab {
    font-weight: bold;
    color: #ec8021;
}

.chatBubble {
    padding: 4;
    margin: 2;
}

.message {
    color: #fff;
    font-size: 14;
    padding: 3;
    margin: 0;
}

.nopadding {
    padding: 0;
}

.nomargin {
    margin: 0;
}

.smallText {
    font-size: 12;
}

.expiryTag {
    font-size: 9;
    color: #fff;
}

.primaryBackground {
    background-color: #D00000;
}

.successBackground {
    background-color: #00D0D0;
}

.BusinessLocation {
    font-size: 12;
}

.offerItem {
    padding: 3;
    margin: 5;
}

.bold {
    font-weight: bold;
}
